.parallax {
    display: flex;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .first {
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
  
  .second {
    background-image: url('https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?q=80&w=1942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
  
  .content {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    /* height: 100vh; */
  }

  h1 {
    margin-top: 50px;
  }
  
  p {
    font-size: 18px;
  }
  